<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Fire Blazers Library</title>
        <link rel="stylesheet" th:href="@{/styles/style.css}">
    </head>
    <body>
        <h1 th:class="heading">Welcome to the Fire Blazers Library!</h1>
        <p th:if="${#httpServletRequest.remoteUser != null}" th:class="paragraph">
            <button><a th:href="@{/login}">Login</a></button>
            <button><a th:href="@{/signup}">Sign Up</a></button>
        </p>

    </body>
</html>