<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Fire Blazers Library - Login</title>
        <link rel="stylesheet" th:href="@{/styles/style.css}">
    </head>
    <body>
        <p class="error margin-1" th:if="${param.error}">
            Invalid username and password.
        </p>
        <p class="margin-1" th:if="${param.logout}">
            You have been logged out.
        </p>
        <p>
            <p class="margin-1">Enter login details:</p>
            <form method="post" th:action="@{/login}">
                <div><label> Username : <input name="username" type="text"/> </label></div>
                <div><label> Password : <input name="password" type="password"/> </label></div>
                <div><input class="button submit" type="submit" value="Sign In"/></div>
            </form>
    </body>
</html>