<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Fire Blazers Library - Sign Up</title>
        <link rel="stylesheet" th:href="@{/styles/style.css}">
    </head>
    <body>
        <p>
            <p class="margin-1">Enter your details:</p>
            <form id="signup" method="post" th:action="@{/login}">
                <div><label> Username : <input name="username" type="text"/> </label></div>
                <div><label> Firstname : <input name="firstname" type="text"/> </label></div>
                <div><label> Surname : <input name="lastname" type="text"/> </label></div>
                <div><label> Social Security Number : <input name="ssn" type="text"/> </label></div>
                <div><label> Email : <input name="email" type="text"/> </label></div>
                <div><label> Password : <input name="password" type="password"/> </label></div>
                <div>
                    <input class="button submit"
                           onclick="submit(this)"
                           type="submit"
                           value="Sign Up"/>
                </div>
            </form>
    </body>
<!--    <script th:src="@{/js/index.js}"></script>-->
<script>
    function submit(form) {

        console.log("Submitting form!")
        let xhr = new XMLHttpRequest();
        let url = "/api/users/new";

        xhr.open("POST", url);

        xhr.setRequestHeader("Content-Type", "application/json");

        let payload = JSON.stringify({
            "username": form.username,
            "password": form.password,
            "firstname": form.firstname,
            "lastname": form.lastname,
            "ssn": form.ssn,
            "email": form.email
        })

        xhr.send(payload)

        xhr.onload = () => console.log(xhr.responseText); //todo: delete later

        window.location.href = "/application";

    }
</script>
</html>