
.heading {
    text-align: center;
}

button {
    margin: 3em 5em;
    padding: 1em 2em;
}

.button {
    padding: 1em 2em;
}

.paragraph {
    margin: 2em 5em;
    text-align: center;
}

form > div, .margin-1 {
    margin: 1.5em;
}

.submit {
    background-color: limegreen;
}
